<launch>
  <arg name="rviz" default="true"/>
  <arg name="vehicle_count" default="0"/>
  <arg name="scenario" default=""/>

  <rosparam command="load" file="$(find structured_road_conflict_sim)/config/structured_road_conflict_sim.yaml"/>

  <node pkg="structured_road_conflict_sim" type="road_network_node"
        name="road_network_node" output="screen">
    <param if="$(eval int(arg('vehicle_count')) > 0)" name="vehicle_count" value="$(arg vehicle_count)"/>
    <param if="$(eval arg('scenario') != '')" name="scenario" value="$(arg scenario)"/>
  </node>

  <group ns="vehicle_1">
    <node pkg="structured_road_conflict_sim" type="conflict_resolver_node"
          name="conflict_resolver_node" output="screen">
      <param name="ego_index" value="0"/>
      <param name="publish_debug" value="true"/>
      <param if="$(eval int(arg('vehicle_count')) > 0)" name="vehicle_count" value="$(arg vehicle_count)"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="speed_planner_node"
          name="speed_planner_node" output="screen">
      <param name="vehicle_id" value="vehicle_1"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="vehicle_kinematic_sim_node"
          name="vehicle_kinematic_sim_node" output="screen">
      <param name="vehicle_id" value="vehicle_1"/>
      <param name="base_frame_id" value="vehicle_1/base_link"/>
    </node>
  </group>

  <group ns="vehicle_2">
    <node pkg="structured_road_conflict_sim" type="conflict_resolver_node"
          name="conflict_resolver_node" output="screen">
      <param name="ego_index" value="1"/>
      <param name="publish_debug" value="true"/>
      <param if="$(eval int(arg('vehicle_count')) > 0)" name="vehicle_count" value="$(arg vehicle_count)"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="speed_planner_node"
          name="speed_planner_node" output="screen">
      <param name="vehicle_id" value="vehicle_2"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="vehicle_kinematic_sim_node"
          name="vehicle_kinematic_sim_node" output="screen">
      <param name="vehicle_id" value="vehicle_2"/>
      <param name="base_frame_id" value="vehicle_2/base_link"/>
    </node>
  </group>

  <group if="$(eval int(arg('vehicle_count')) == 0 or int(arg('vehicle_count')) >= 3)" ns="vehicle_3">
    <node pkg="structured_road_conflict_sim" type="conflict_resolver_node"
          name="conflict_resolver_node" output="screen">
      <param name="ego_index" value="2"/>
      <param name="publish_debug" value="true"/>
      <param if="$(eval int(arg('vehicle_count')) > 0)" name="vehicle_count" value="$(arg vehicle_count)"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="speed_planner_node"
          name="speed_planner_node" output="screen">
      <param name="vehicle_id" value="vehicle_3"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="vehicle_kinematic_sim_node"
          name="vehicle_kinematic_sim_node" output="screen">
      <param name="vehicle_id" value="vehicle_3"/>
      <param name="base_frame_id" value="vehicle_3/base_link"/>
      <param name="color_r" value="0.10"/>
      <param name="color_g" value="0.62"/>
      <param name="color_b" value="0.28"/>
    </node>
  </group>

  <group if="$(eval int(arg('vehicle_count')) == 0 or int(arg('vehicle_count')) >= 4)" ns="vehicle_4">
    <node pkg="structured_road_conflict_sim" type="conflict_resolver_node"
          name="conflict_resolver_node" output="screen">
      <param name="ego_index" value="3"/>
      <param name="publish_debug" value="true"/>
      <param if="$(eval int(arg('vehicle_count')) > 0)" name="vehicle_count" value="$(arg vehicle_count)"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="speed_planner_node"
          name="speed_planner_node" output="screen">
      <param name="vehicle_id" value="vehicle_4"/>
    </node>
    <node pkg="structured_road_conflict_sim" type="vehicle_kinematic_sim_node"
          name="vehicle_kinematic_sim_node" output="screen">
      <param name="vehicle_id" value="vehicle_4"/>
      <param name="base_frame_id" value="vehicle_4/base_link"/>
      <param name="color_r" value="0.82"/>
      <param name="color_g" value="0.48"/>
      <param name="color_b" value="0.12"/>
    </node>
  </group>

  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" output="screen"
        args="-d $(find structured_road_conflict_sim)/rviz/two_vehicle_conflict.rviz"/>
</launch>
