<launch>

    <node pkg="rviz" type="rviz" name="rviz"  args="-d $(find launch_node)/param/rviz/param.rviz" required="true" />
	
　　<node pkg="cooperation" type="cooperation" name="cooperation" output="screen">
		<rosparam file="$(find launch_node)/param/cooperation/cooperation.yaml"/>
		<rosparam file="$(find launch_node)/param/vehcile/$(arg vehicle_type)/vehicle_param.yaml"/>
　　</node>

　　<node pkg="info_hub" type="info_hub" name="info_hub" output="screen">
		<rosparam file="$(find launch_node)/param/info_hub/info_hub.yaml"/>
　　</node>

　　<node pkg="reference_line_node" type="reference_line_node" name="reference_line_node" output="screen">
　　　　<rosparam file="$(find launch_node)/param/reference_line/reference_line.yaml"/>
        <rosparam file="$(find launch_node)/param/vehcile/$(arg vehicle_type)/vehicle_param.yaml"/>
	    <rosparam file="$(find launch_node)/param/reference_line/smooth_config_file.yaml"/>
		<rosparam file="$(find launch_node)/param/global/debug.param.yaml"/>		
		<rosparam file="$(find launch_node)/param/global/global_config.yaml"/>
　　</node>

　　<node pkg="planner" type="planner" name="planner" output="screen">
         <rosparam file="$(find launch_node)/param/vehcile/$(arg vehicle_type)/vehicle_param.yaml"/>
         <rosparam file="$(find launch_node)/param/planning/planning.yaml"/>
         <rosparam file="$(find launch_node)/param/global/debug.param.yaml"/>
         <rosparam file="$(find launch_node)/param/global/global_config.yaml"/>
	</node>

　　<node pkg="trajectory_follower" type="trajectory_follower" name="trajectory_follower" output="screen">
　　　　<rosparam file="$(find launch_node)/param/control/$(arg vehicle_type)/lateral_controller_defaults.param.yaml"/>
        <rosparam file="$(find launch_node)/param/vehcile/$(arg vehicle_type)/vehicle_param.yaml"/>
	<rosparam file="$(find launch_node)/param/global/debug.param.yaml"/>
　　</node>
    
　　<node pkg="cloud_comm" type="cloud_comm" name="cloud_comm" output="screen">
		<rosparam file="$(find launch_node)/param/cloud_comm/cloud_comm.yaml"/>
		<rosparam file="$(find launch_node)/param/vehcile/$(arg vehicle_type)/vehicle_param.yaml"/>
　　</node>

    <node pkg="steering_offset_estimator" type="steering_offset_estimator" name="steering_offset_estimator" output="screen">
		<rosparam file="$(find launch_node)/param/vehcile/$(arg vehicle_type)/vehicle_param.yaml"/>
		<rosparam file="$(find launch_node)/param/steering_offset_estimator/steering_offset_estimator.yaml"/>
　　</node>
     
　　<node pkg="record_data_node" type="record_data_node" name="record_data_node" output="screen">
        <rosparam file="$(find launch_node)/param/record_data/recordGpsData.yaml"/>
　　　　 <rosparam file="$(find launch_node)/param/global/global_config.yaml"/>
　　</node>

　　<node pkg="route" type="route" name="route" output="screen">
		<rosparam file="$(find launch_node)/param/route/route.yaml"/>
　　</node>

</launch>

