<launch>
    <node  pkg="rviz" type="rviz" name="rviz"  args="-d $(find launch_node)/param/rviz/record.rviz" required="true" />
　　<node pkg="record_data_node" type="record_data_node" name="record_data_node" output="screen">
        <rosparam file="$(find launch_node)/param/record_data/recordGpsData.yaml"/>
　　　　<rosparam file="$(find launch_node)/param/global/global_config.yaml"/>
　　</node>
</launch>
